{% comment %}
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
{% endcomment %}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

{% comment %}
<!-- Toggleable sidebar -->
{% endcomment %}
<div class="sidebar" id="sidebar">
  {% capture home_url %}{{ site.baseurl }}/{% endcapture %}
  <nav class="sidebar-nav">
	{% if page.url == home_url %}
      <a class="sidebar-nav-item active" href="{{ site.baseurl }}/">Home</a>
    {% else %}
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    {% endif %}

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
		  {% if page.url == node.url %}
            <a class="sidebar-nav-item active"
                href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% else %}
            <a class="sidebar-nav-item"
                href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  {% if page.url == home_url %}
    <div class="sidebar-nav-item active feed">
  {% else %}
    <div class="sidebar-nav-item feed">
  {% endif %}
      <img src="{{ site.baseurl }}/static/feed-icon.png"/>
      <a href="{{ site.baseurl }}/feed.xml">Feed</a>
    </div>
  <div class="sidebar-item">
    <p>
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0"
            src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
      </a>
      <br/>
      Unless otherwise noted, content on this site is licensed under a
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        Creative Commons Attribution 4.0 International License
      </a>.
    </p>
  </div>
</div>
